* {
    border: none;
    border-radius: 12px;
    min-height: 0;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #1B1F26;
    border: 2px solid #64B5F6;
    border-radius: 12px;
}


tooltip {
    background-color: #1B1F26;
    color: #ECEFF1;
    padding: 10px;
    border-radius: 8px;
}

/* Общий стиль для модулей */

#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #1B1F26;
    color: #ECEFF1;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

#network{
    color: #838c78;
}

#pulseaudio{
    color: #865969;
}

#custom-logo{
    margin-left:25px;
    font-size: 18px;
    color: #64B5F6;
}

#memory{
    color: #c19d72;
}

#cpu{
    color: #606099;
}

#clock{
    margin: 6px 6px 6px 0;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #292d35;
    color: #7b7e8a;
}


#workspaces {
    background-color: #1B1F26;
    margin: 6px 0 6px 6px;
    border: none;
    border-radius: 12px;
    padding: 4px;
}

#workspaces button {
    all: unset;
    min-width: 0;
    padding: 6px 10px;
    border-radius: 12px;
    color: #64B5F6;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#workspaces button:hover {
    background-color: #334955;
}

#workspaces button.focused {
    color: #90CAF9;
}

#workspaces button.urgent {
background-color: #E57373;
color: #ECEFF1;
}

#custom-power {
    margin: 6px 6px 6px 0;
    padding: 4px 12px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #1B1F26;
    color: #865969;
    transition: background-color 0.2s ease;
}

#custom-power:hover {
    background-color: #BA68C8;
}

#language {
    margin: 6px 6px 6px 0;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #1B1F26;
    color: #ECEFF1;
    transition: background-color 0.2s ease;
}

#language:hover {
    background-color: #334955;
}

#cpu.critical,
#memory.critical {
    background-color: #E57373;
    color: #ECEFF1;
}


#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #E57373;
    color: #ECEFF1;
}
